extends layouts/main-layout.pug 

block content
    .mainContent
        .card
            .mapContainer
                .demoText
                    h3.space Case 1
                    a#simulate1.primary-button(href='#') Simulate
                #map
            .mapContainer2
                .demoText
                    h3.space Case 2
                    a#simulate2.primary-button(href='#') Simulate
                #map2
    