:root {
    --red: rgb(238, 49, 36);
    --darkBackground: rgb(50,50,50);
    --lightGrey: rgb(230, 236, 240);
    --grey: rgb(245, 245, 245);
}

body {
    background-color: var(--lightGrey);
    min-height: 100vh;
    color: #000000;
}

.display-inline{
    display: inline !important;
}
.eroad-topbar-link{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.78;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;   
}

.masthead{
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--grey);
}

.masthead-left, .masthead-right{
    align-items: center;
}

.masthead-left a:first-child{
    font-size: 14px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

li.info-item {
    display: inline-block;
    line-height: 1;
    margin-right: 15px;
}
span.info-text{
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 1;
    font-size: 11px;
    font-weight: 400;
}

nav{
    padding: 1rem !important;
}

.primary-button{
    padding: 0 25px;
    height: 42px;
    line-height: 42px;
    color: #ffffff;
    border-color: #fe4235;
    background-color: #fe4235;
}
.space{
    padding: 0 25px;
}

#navbarTogglerDemo01{
    justify-content: space-between;
}

li.nav-item{
    padding: 0 0.5rem;
}


#map, #map2 {
    display: block;
    width: 80%;
    margin-bottom: 3px;
    height: 75vh;
    background: grey;
}

.mapContainer, .mapContainer2{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center
}

.demoText{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}